<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!--    <meta name="viewport" content="width=device-with, initial-scale=1.0">-->
    <meta charset="UTF-8">
    <title>HomeWork06</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="top">
    <header class="header center">
        <div class="header__left">
            <a href=""><img src="img/logo.png" alt="logo" class="logo"></a>
            <a href=""><img src="img/search.svg" alt="search" class="search"></a>
        </div>
        <div class="header__right">
            <a href=""><img src="img/menu.svg" alt="menu" class="menu"></a>
            <a href=""><img src="img/reg.svg" alt="user" class="user"></a>
            <a href=""><img src="img/cart.svg" alt="shopping_cart" class="shopping__cart"></a>
        </div>
    </header>

    <section class="promo__top center">
        <img src="img/promo.png" alt="promo_big" class="promo__big__one">
        <div class="promo__text">
            <div>
                <h1 class="title">THE BRAND</h1>
                <h2 class="subtitle">OF LUXERIOUS <span class="red-text">FASHION</span></h2>
            </div>
        </div>
    </section>

    <section class="group__select">
        <div class="group__item">
            <img src="img/group-for-women.jpeg" alt="">
            <div class="group__info">
                <h4 class="group_attract">30% OFF</h4>
                <h3 class="group_title">FOR WOMEN</h3>
            </div>
        </div>
        <div class="group__item">
            <img src="img/group-for-men.jpeg" alt="">
            <div class="group__info">
                <h4 class="group_attract">HOT DEAL</h4>
                <h3 class="group_title">FOR MEN</h3>
            </div>
        </div>
        <div class="group__item">
            <img src="img/group-for-kids.jpeg" alt="">
            <div class="group__info">
                <h4 class="group_attract">NEW ARRIVALS</h4>
                <h3 class="group_title">FOR KIDS</h3>
            </div>
        </div>
        <div class="group__item">
            <img src="img/group-accesories.jpeg" alt="">
            <div class="group__info">
                <h4 class="group_attract">LUXIROUS & TRENDY</h4>
                <h3 class="group_title">ACCESORIES</h3>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="products__top">
            <h2 class="products__title">Fetured Items</h2>
            <p class="products__text">Shop for items based on what we featured in this week</p>
        </div>
        <div class="product"><img src="img/product-1.jpeg" alt="" class="product__img">
            <h3 class="product__name">ELLERY X M'O CAPSULE</h3>
            <p class="product__description">Known for her sculptural takes on traditional tailoring, Australian arbiter
                of cool Kym Ellery teams up with Moda Operandi.</p>
            <h3 class="products__cost">$52.00</h3>
        </div>
        <div class="product"><img src="img/product-2.png" alt="" class="product__img">
            <h3 class="product__name">ELLERY X M'O CAPSULE</h3>
            <p class="product__description">Known for her sculptural takes on traditional tailoring, Australian arbiter
                of cool Kym Ellery teams up with Moda Operandi.</p>
            <h3 class="products__cost">$52.00</h3>
        </div>
        <div class="product"><img src="img/product-3.png" alt="" class="product__img">
            <h3 class="product__name">ELLERY X M'O CAPSULE</h3>
            <p class="product__description">Known for her sculptural takes on traditional tailoring, Australian arbiter
                of cool Kym Ellery teams up with Moda Operandi.</p>
            <h3 class="products__cost">$52.00</h3>
        </div>
        <div class="product"><img src="img/product-4.jpeg" alt="" class="product__img">
            <h3 class="product__name">ELLERY X M'O CAPSULE</h3>
            <p class="product__description">Known for her sculptural takes on traditional tailoring, Australian arbiter
                of cool Kym Ellery teams up with Moda Operandi.</p>
            <h3 class="products__cost">$52.00</h3>
        </div>
        <div class="product"><img src="img/product-5.jpeg" alt="" class="product__img">
            <h3 class="product__name">ELLERY X M'O CAPSULE</h3>
            <p class="product__description">Known for her sculptural takes on traditional tailoring, Australian arbiter
                of cool Kym Ellery teams up with Moda Operandi.</p>
            <h3 class="products__cost">$52.00</h3>
        </div>
        <div class="product"><img src="img/product-6.jpeg" alt="" class="product__img">
            <h3 class="product__name">ELLERY X M'O CAPSULE</h3>
            <p class="product__description">Known for her sculptural takes on traditional tailoring, Australian arbiter
                of cool Kym Ellery teams up with Moda Operandi.</p>
            <h3 class="products__cost">$52.00</h3>
        </div>
        <button class="browse__all">Browse All Products</button>
    </section>


</div>
</body>
</html>